<form
  [formGroup]="postForm"
  (ngSubmit)="onSubmit()"
  class="needs-validation"
  autocomplete="off"
  novalidate
>
  <div class="mb-3">
    <label for="post-title" class="col-form-label">Title:</label>
    <input
      type="text"
      class="form-control"
      id="post-title"
      required
      formControlName="title"
      [class.is-invalid]="title?.invalid && (title?.touched || isSubmitted)"
      [class.is-valid]="title?.valid && (title?.touched || isSubmitted)"
    />
    <div
      *ngIf="title?.invalid && (title?.touched || isSubmitted)"
      class="invalid-feedback text-danger"
    >
      <div *ngIf="title?.errors?.['required']">Title is required</div>
      <div *ngIf="title?.errors?.['minlength']">
        Title should be 5 characters or more
      </div>
      <div *ngIf="title?.errors?.['maxlength']">
        Title should not exceed 150 characters
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="post-category" class="col-form-label">Category:</label>
    <select
      class="form-select"
      id="post-category"
      required
      formControlName="category"
      aria-label="Category Selection"
      [class.is-invalid]="category?.invalid && (category?.touched || isSubmitted)"
      [class.is-valid]="category?.valid && (category?.touched || isSubmitted)"
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <div
      *ngIf="category?.invalid && (category?.touched || isSubmitted)"
      class="text-danger"
    >
      <div *ngIf="category?.errors?.['required']">Category is required</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="post-content" class="col-form-label">Content:</label>
    <textarea
      class="form-control"
      id="post-content"
      required
      formControlName="content"
      [class.is-invalid]="content?.invalid && (content?.touched || isSubmitted)"
      [class.is-valid]="content?.valid && (content?.touched || isSubmitted)"
    >
    </textarea>
    <div
      *ngIf="content?.invalid && (content?.touched || isSubmitted)"
      class="text-danger"
    >
      <div *ngIf="content?.errors?.['required']">Content is required</div>
      <div *ngIf="content?.errors?.['maxlength']">
        Post content should not exceed 2500 characters
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="goToHomePage()"
    >
      Close
    </button>
    <button type="submit" class="btn btn-success">Post message</button>
  </div>
</form>
